{% extends "base.html" %}
{% block title %}Kaart — Van der Werf{% endblock %}
{% block eyebrow %}Overzicht{% endblock %}
{% block page_title %}Kaart{% endblock %}

<!-- Nieuwe html voor de kaartweergave -->

{% block content %}
    <!-- Dit laadt Leaflet in en maakt een lege div aan waar de kaart in komt -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <div id="kaart" style="height: calc(100vh - 200px);"></div>
        <script>
            var map = L.map("kaart").setView([53, 6.5], 10);   // maak een kaart aan in de div met id "kaart"
                                                                // en stel het beginpunt in op Noord-Nederland
                                                                // en zoom level 10 (zoomed uit genoeg om Noordelijke regio te zien)

            L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", { // een kaart bestaat uit kleine tegeltjes (tiles), dit laadt die tegeltjes in van OpenStreetMap (de gratis kaart die iedereen kent)
                attribution: "© OpenStreetMap"  // verplict tekstje voor credits
                }).addTo(map);  // voeg die tegeltjes toe aan de kaart
            
            // onderste brengt meetdata van Python naar JavaScript zodat er punten van kunnen maken op de kaart.
            var metingen = {{ kaart | tojson }};    // {{ kaart }} komt uit kaart_weergave in routes.py en dit zet die python data in html via Jinja2; tojson zet python lijst van dictionaries om naar JSON, zodata Javascript ermee kan werken
            
            // Loop door alle metingen heen
            metingen.forEach(function(meting) {

                // Bepaal de kleur op basis van grashoogte (zelfde niveaus als dashboard)
                var kleur;
                if (meting.height_mm <= 50) {
                    kleur = "#3DBE3D";      // groen — niveau A (uitstekend)
                } else if (meting.height_mm <= 80) {
                    kleur = "#E8A838";      // oranje — niveau B (voldoende)
                } else {
                    kleur = "#E81010";      // rood — niveau C (onvoldoende)
                }

                // Plaats een gekleurde cirkel op de kaart in plaats van een standaard marker
                L.circleMarker([meting.latitude, meting.longitude], {
                    radius: 10,             // grootte van de cirkel
                    fillColor: kleur,       // vulkleur op basis van kwaliteitsniveau
                    color: "#fff",          // witte rand om de cirkel
                    weight: 2,              // dikte van de rand
                    fillOpacity: 0.9        // bijna volledig dekkend
                })
                .addTo(map)
                .bindPopup(meting.location + "<br>Hoogte: " + meting.height_mm + " mm"); // popup met locatie en hoogte
            });
        </script>
{% endblock %}